body {
    background-color: var(--color-pomb-and-power);
    background: #3A4042;
    border: 4px solid #fffcee;
    position: relative;
    width: 500px;
    height: 800px;
    top: 20px;
    margin: auto;
}